* {
    font-family: 'Merriweather', serif;
}

button:hover {
    filter: brightness(90%);
    color: #F9FAF7;
}
.btn:hover {
    filter: brightness(90%);
    background-color: #75833c;
    color: #F9FAF7;
  }
.food-category-title{
    border-style: solid;
    border-color: #75833c;
    border-width: 0 0 3px 0;
} 

.total-border {
    border-style: solid;
    border-color: #75833c;
    border-width: 3px 0 0 0;
}

.cart-title
{
    border-style: solid;
    border-color: #75833c;
    border-width: 0 0 3px 0;
}

.shop-item-button {
    background-color:#75833c; 
    border: 5px solid #75833c; 
    color: #F9FAF7;
    font-size: 1rem;
}
.plus-btn {
    background-color:#75833c; 
    border: 5px solid #75833c; 
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; 
    padding: 10px 20px; 
    color: rgba(248, 249, 250);
    font-size: 16px; 
    
}

.minus-btn {
    background-color:#A0462A; 
    border: 5px solid #A0462A; 
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; 
    padding: 10px 20px; 
    color: rgba(248, 249, 250);
    font-size: 16px; 
}

.cart-button {
    background-color:#A0462A; 
    border: 5px solid #A0462A; 
    color: #F9FAF7;
}

.cart-button:hover {
    filter: brightness(90%);
    background-color:#A0462A; 
    color: #F9FAF7;
  }

.btn-purchase{
    background-color:#75833c; 
    border: 5px solid #75833c; 
    color: #F9FAF7;
    font-size: 1.5rem;
}

.remove-opacity {
    opacity: 200%;
}

.footer-brand-logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #F9FAF7;
}

.brand-font {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #323A4A;
}

footer {
    background-color: #A0462A;
    color: #F9FAF7;
}

@media screen and (max-width: 485px) {
    span.brand-font{
      font-size: 27px;
    }
  }

  @media screen and (max-width: 375px) {
    span.brand-font{
      font-size: 0px;
    }
  }

  @media screen and (max-width: 485px) {
    .brand-logo-img {
     width: 55px;
    }
  }

  @media screen and (max-width: 375px) {
    .brand-logo-img {
     width: 60px;
    }
  }

  @media screen and (max-width: 425px) {
    span.footer-brand-logo {
    font-size: 26px;
    }
  }

  @media screen and (max-width: 425px) {
    div.footer-brand-logo-div {
    padding: 20px;
  }
  }

