* {
    font-family: 'Merriweather', serif;
}

.box{
    width: 450px;
    max-height: 300px;
    background-color: rgba(248, 249, 250, 0.85);
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 15vh;
    border-radius: 27px;
    border-width: 5px;
    padding: 50px;
    margin: 10%;
}

#main-message {
    background-image: url('../Images/luisa-brimble-2RrBE90w0T8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.welcome {
display: flex;
justify-content: center;
align-items: center;
row-gap: 5px;
height: 100vh;
}

.food-category-title{
    border-style: solid;
    border-color: #A3B754;
    border-width: 0 0 3px 0;
} 

.total-border {
    border-style: solid;
    border-color: #A3B754;
    border-width: 3px 0 0 0;
}

.cart-title
{
    border-style: solid;
    border-color: #A3B754;
    border-width: 0 0 3px 0;
}

.main-button {
    background-color: #A3B754;
    font-weight: 500;
    color: #f9faf7;
}

.plus-btn {
    background-color:#A3B754; 
    border: 5px solid #A3B754; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding: 10px 20px; 
    color: white; 
    font-size: 16px; 
}


.minus-btn {
    background-color:#A0462A; 
    border: 5px solid #A0462A; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    padding: 10px 20px; 
    color: white; 
    font-size: 16px; 
}

.remove-opacity {
    opacity: 200%;
}

.footer-brand-logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #F9FAF7;
}

.brand-font {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #323A4A;
}

footer {
    background-color: #A0462A;
    color: #F9FAF7;
}

