* {
    font-family: 'Merriweather', serif;
}

.box{
    width: 450px;
    max-height: 300px;
    background-color: rgba(248, 249, 250, 0.85);
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 15vh;
    border-radius: 27px;
    border-width: 5px;
    padding: 50px;
    margin: 10%;
}

#main-message {
    background-image: url('../Images/luisa-brimble-2RrBE90w0T8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.welcome {
display: flex;
justify-content: center;
align-items: center;
row-gap: 5px;
height: 100vh;
}

.main-button {
    background-color: #A3B754;
    font-weight: 500;
    color: #f9faf7;
}

.remove-opacity {
    opacity: 200%;
}

.footer-brand-logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #F9FAF7;
}

.brand-font {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #323A4A;
}

footer {
    background-color: #A0462A;
    color: #F9FAF7;
}

.om-oss {
    background-color:#A0462A;
    font-size: 4rem;
    color: #F9FAF7;
}

#contact-info {
    background-image: url('../Images/luisa-brimble-2RrBE90w0T8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    height: 500px;
}

#address ul li {
    font-size: 1rem;
text-align: center;
}

#address h5 {
    font-size: 2rem;
    text-align: center;
}