* {
    font-family: 'Merriweather', serif;
}

.footer-brand-logo {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #F9FAF7;
}

.brand-font {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #323A4A;
}

footer {
    background-color: #A0462A;
    color: #F9FAF7;
}

.om-oss {
    background-color: #75833c;
    font-size: 4rem;
    color: #F9FAF7;
}

#contact-info-pic {
    background-image: url('../Images/luisa-brimble-2RrBE90w0T8-unsplash\ copy.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    min-height: 350px;
    height: 100%;
    
}

.contact-info {
    background-color: #A0462A;
    color: #F9FAF7;
}

.historia-col {
    background-color: #A0462A;
    color: #F9FAF7;
    text-align: center;
}

.historia-col p {
    max-width: 600px;
    margin: auto;
}

.eco-col {
    background-color: #75833c;
    color: #F9FAF7;
}

.eco-col p {
    max-width: 600px;
    margin: auto;
}

#address ul li {
    font-size: 1rem;
text-align: center;
}

#address h5 {
    font-size: 2rem;
    text-align: center;
}

.map-border{
    border: 3px solid;
    border-color: rgb(163, 183, 84, 0.5);
}